<!DOCTYPE html>
<html lang="eng" xmlns:th="http:wwww.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello World</h1>

<form>
<input type="text">
<select id="fromBase">
    <!-- .name() returns the name of the enum. full name refers to the private variable for the value of the enum-->
    <option th:each="abbr: ${currency}"  th:text="|${abbr.name()} - ${abbr.fullName}|" th:value="${abbr.name()}">

    </option>

</select>

<select id="toConversion">
    <!-- .name() returns the name of the enum. full name refers to the private variable for the value of the enum-->
    <option th:each="abbr: ${currency}"  th:text="|${abbr.name()} - ${abbr.fullName}|" th:value="${abbr.name()}">

    </option>

</select>
    <button>Submit</button>
</form>
</body>
</html>