<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello World</h1>

<form th:object="${currency_model}" method="post">

    <span th:errors="*{money}"></span>
    <input type="text" th:field="*{money}">

    <span th:errors="*{baseCurrency}"></span>
    <select th:field="*{baseCurrency}">
        <!-- .name() returns the name of the enum. full name refers to the private variable for the value of the enum-->
        <option th:each="abbr: ${currency}"  th:text="|${abbr.name()} - ${abbr.fullName}|" th:value="${abbr.name()}">

        </option>

    </select>

    <span th:errors="*{exchangeCurrency}"></span>
    <select th:field="*{exchangeCurrency}">
        <!-- .name() returns the name of the enum. full name refers to the private variable for the value of the enum-->
        <option th:each="abbr: ${currency}"  th:text="|${abbr.name()} - ${abbr.fullName}|" th:value="${abbr.name()}">

        </option>

    </select>
        <button>Submit</button>
</form>
</body>
</html>