<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment"::header>
</head>
<body>
<h1>Hello World</h1>

<form th:object="${currency_model}" method="post" class="form-container">

   <div class="columns">
    <span th:errors="*{money}"></span>
        <div class="field column is-one-third-tablet">
            <label class="label" for="money">Amount</label>
            <div class="control">
                <input  class="input is-large" type="text" id="money" name="money" th:value="1">
            </div>
        </div>
    <span th:errors="*{baseCurrency}"></span>
        <div class="field column is-one-third-tablet">
            <label class="label" th:for="baseCurrency">From</label>
            <div class="control">
                <div class="select is-large">
                    <select th:field="*{baseCurrency}">
                    <!-- .name() returns the name of the enum. full name refers to the private variable for the value of the enum-->
                        <option th:each="abbr: ${currency}"  th:text="|${abbr.name()} - ${abbr.fullName}|" th:value="${abbr.name()}"></option>
                    </select>
                </div>
            </div>
        </div>


    <span th:errors="*{exchangeCurrency}"></span>
    <div class="field column is-one-third-tablet">
        <label class="label" th:for="exchangeCurrency">To</label>
        <div class="control">
            <div class="select is-large">
                <select  th:field="*{exchangeCurrency}">
                    <!-- .name() returns the name of the enum. full name refers to the private variable for the value of the enum-->
                    <option th:each="abbr: ${currency}"  th:text="|${abbr.name()} - ${abbr.fullName}|" th:value="${abbr.name()}"></option>
                </select>
            </div>

        </div>
    </div>
   </div>
        <button>Submit</button>


</form>
</body>
</html>